<div class="map">
    <img
        alt="Map Image at coordinates {{@lat}},{{@lng}}"
        ...attributes
        src="http://api.mapbox.com/styles/v1/mapbox/streets-v11/static/{{@lng}},{{@lat}},{{@zoom}}/{{@width}}x{{@height}}@2x?access_token={{this.token}}"
        width={{@width}} height={{@height}}
    />
</div>